body {
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  border: 20px solid RGBA(115, 112, 111, 0.5);
  padding: 50px;
}

h2 + p{
  border-left: 10px solid RGBA(115, 112, 111, 0.5);
  padding-left:20px;
}

h4 {
  font-family: 'Bree Serif', serif;
  color: RGB(119, 160, 212);
  text-transform: uppercase;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Bree Serif', serif;
  font-family: 'Noto Sans SC', sans-serif;
  color: RGB(51, 59, 69);
}

.text + h4 {

padding-top: -20px;

}

.last_par {
  border-bottom: 1px solid RGBA(115, 112, 111, 0.5);
  padding-bottom: 20px;
}
